.navWrapper{
    width: 100%;
    max-height: 7rem;
    display: flex;
    flex: row;
    justify-content: space-between;
}
.navHeader{
    width: 66%;
    font-size: 3rem;
    color: #008CFF;
    display: flex;
    justify-content: center;
    align-items: center
}
.sliderWrapper{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third{
    width: 33%;
}
.sliderButton{
    border: none;
    background-color: white;
}
.sliderButton:hover{
    cursor: pointer;
}
.slidePanel{
    height: 200px;
    /* width: 0px; */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: .5s;
}
.slidePanel a{
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
    color: #008CFF;
    transition: .3s;

}
.slidePanel a:hover{
    cursor: pointer;
    color: black;
}
.panelClose{
    border: none;
    background-color: white;
}
.panelClose:hover{
    cursor: pointer;
}
.slidePanel .panelClose{
    position: absolute;
    top: 0;
    left:25px;
    margin-right: 25px;
}
