.homePage{
    width: 100%;
    background-color: #E6F4FF;
    height: 35rem;
    display: flex;
    flex-direction: row;
}
.homeLeft{
    width: 100%;
}
.homeRight{
    width: 100%;
}
.barcodeHolder{
    height: 10rem;
    display: flex;
    flex-direction: row;
}
.barcodeHolder p{
    width: 100%;
}
.barcodeHolder div{
    width: 100%;
}
